@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .reactgooglegraph > div > div > div > svg > rect {
    @apply fill-gray-700;
  }

  .reactgooglegraph > div > div > div > svg text {
    @apply fill-gray-50 font-mono font-[500];
  }
  .reactgooglegraph
    > div
    > div
    > div
    > svg
    > g
    > g.google-visualization-tooltip
    text {
    @apply fill-black;
  }

  .ribbon {
    @apply w-48 text-center;
  }

  .ribbon,
  .ribbon:after,
  .ribbon:before {
    @apply bg-cyan-800;
  }
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

section {
  scroll-snap-align: start;
}

.ribbon {
  margin: 0;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%) translateY(-175%) rotate(45deg);
  transform-origin: top left;
}
